*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow:hidden;
}
html,
body,
.chat-container,
.chat-pusher,
.chat-content {
	height: 100%;
}

.chat-content {
	overflow-y: auto;
}
.chat-content.yellow{
	background: #f3efe0;
}
.chat-content.blue{
	background: #efeff3;
}
.chat-content.orange{
	background: #f3eeed;
}
.badge-notification{
	position: absolute;
	left:23px;
	top:5px;
	background-color: #ff6543;
}
.chat-content,
.chat-content-inner {
	position: relative;
}

.chat-container {
	position: relative;
	overflow: hidden;
}

.chat-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.chat-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	/**background: rgba(0,0,0,0.2);**/
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.chat-menu-open .chat-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.chat-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	overflow-y:auto;
	padding-bottom: 20px;
	width: 300px;
	height: 100%;
	background: #525b65;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.chat-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.chat-menu-open .chat-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.chat-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.chat-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.chat-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.chat-menu ul li a:hover {
	background: #E74C3C;
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

/* Individual effects */

/* Effect 1: Slide in on top */
.chat-effect-1.chat-menu {
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.chat-effect-1.chat-menu-open .chat-effect-1.chat-menu {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.chat-effect-1.chat-menu::after {
	display: none;
}

/* Effect 2: Reveal */
.chat-effect-2.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.chat-effect-2.chat-menu {
	z-index: 1;
}

.chat-effect-2.chat-menu-open .chat-effect-2.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.chat-effect-2.chat-menu::after {
	display: none;
}

/* Effect 3: Push*/
.chat-effect-3.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.chat-effect-3.chat-menu {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.chat-effect-3.chat-menu-open .chat-effect-3.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.chat-effect-3.chat-menu::after {
	display: none;
}

/* Effect 4: Slide along */
.chat-effect-4.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.chat-effect-4.chat-menu {
	z-index: 1;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.chat-effect-4.chat-menu-open .chat-effect-4.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.chat-effect-4.chat-menu::after {
	display: none;
}

/* Effect 5: Reverse slide out */
.chat-effect-5.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.chat-effect-5.chat-menu {
	z-index: 1;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
}

.chat-effect-5.chat-menu-open .chat-effect-5.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Effect 6: Rotate pusher */

.chat-effect-6.chat-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.chat-effect-6 .chat-pusher {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-6.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0) rotateY(-15deg);
	transform: translate3d(300px, 0, 0) rotateY(-15deg);
}

.chat-effect-6.chat-menu {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-6.chat-menu-open .chat-effect-6.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(15deg);
	transform: translate3d(-100%, 0, 0) rotateY(15deg);
}

.chat-effect-6.chat-menu::after {
	display: none;
}

/* Effect 7: 3D rotate in */

.chat-effect-7.chat-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.chat-effect-7 .chat-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-7.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.chat-effect-7.chat-menu {
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-7.chat-menu-open .chat-effect-7.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

/* Effect 8: 3D rotate out */

.chat-effect-8.chat-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.chat-effect-8 .chat-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-8.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.chat-effect-8.chat-menu {
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
	transform: translate3d(-100%, 0, 0) rotateY(90deg);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-8.chat-menu-open .chat-effect-8.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

.chat-effect-8.chat-menu::after {
	display: none;
}

/* Effect 9: Scale down pusher */

.chat-effect-9.chat-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.chat-effect-9 .chat-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-9.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(0, 0, -300px);
	transform: translate3d(0, 0, -300px);
}

.chat-effect-9.chat-menu {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.chat-effect-9.chat-menu-open .chat-effect-9.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.chat-effect-9.chat-menu::after {
	display: none;
}

/* Effect 10: Scale up */

.chat-effect-10.chat-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.chat-effect-10.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.chat-effect-10.chat-menu {
	z-index: 1;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, -300px);
	transform: translate3d(0, 0, -300px);
}

.chat-effect-10.chat-menu-open .chat-effect-10.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Effect 11: Scale and rotate pusher */

.chat-effect-11.chat-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.chat-effect-11 .chat-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-11.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
	transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}

.chat-effect-11.chat-menu {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.chat-effect-11.chat-menu-open .chat-effect-11.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.chat-effect-11.chat-menu::after {
	display: none;
}

/* Effect 12: Open door */

.chat-effect-12.chat-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.chat-effect-12 .chat-pusher {
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-12.chat-menu-open .chat-pusher {
	-webkit-transform: rotateY(-10deg);
	transform: rotateY(-10deg);
}

.chat-effect-12.chat-menu {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.chat-effect-12.chat-menu-open .chat-effect-12.chat-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.chat-effect-12.chat-menu::after {
	display: none;
}

/* Effect 13: Fall down */

.chat-effect-13.chat-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.chat-effect-13.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.chat-effect-13.chat-menu {
	z-index: 1;
	opacity: 1;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.chat-effect-13.chat-menu-open .chat-effect-13.chat-menu {
	visibility: visible;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-speed: 0.2s;
	transition-speed: 0.2s;
}

/* Effect 14: Delayed 3D rotate */

.chat-effect-14.chat-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.chat-effect-14 .chat-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-14.chat-menu-open .chat-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.chat-effect-14.chat-menu {
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
	transform: translate3d(-100%, 0, 0) rotateY(90deg);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.chat-effect-14.chat-menu-open .chat-effect-14.chat-menu {
	visibility: visible;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .chat-pusher,
.no-js .chat-pusher {
	padding-left: 300px;
}
